<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
	<display-name>MyNotes</display-name>
	<servlet>
		<description>
		</description>
		<display-name>SaveNoteServlet</display-name>
		<servlet-name>SaveNoteServlet</servlet-name>
		<servlet-class>com.servlet.SaveNoteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteNoteServlet</display-name>
		<servlet-name>DeleteNoteServlet</servlet-name>
		<servlet-class>com.servlet.DeleteNoteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateNoteServlet</display-name>
		<servlet-name>UpdateNoteServlet</servlet-name>
		<servlet-class>com.servlet.UpdateNoteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveNoteServlet</servlet-name>
		<url-pattern>/SaveNoteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteNoteServlet</servlet-name>
		<url-pattern>/DeleteNoteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateNoteServlet</servlet-name>
		<url-pattern>/UpdateNoteServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
